*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display : flex;
    justify-content: center;
}
.box{
    border : 2px solid black;
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding:25px;
    gap : 10px;
    border-radius: 10px;
    font-size: 20px;
    
}
button{
    padding: 5px;
}